$white: #f9f9f9;
$whitening: #f4f3f2;
$dark-gray: #474741;
$teal: #86D4AA;

$gray: rgb(184, 184, 184);

$opac-simple-white: rgba(248, 248, 248, 0.9);

$opac-white: rgba(255, 255, 255, 0.9);

$transparent-white: rgba(248, 248, 248, 0.7);
$transparent-gray: rgba(71, 71, 65, 0.9);