$content-width: 1260px;
$content-height: 678px;

.container {
    width: 1349px;
    height: 1728px;
    background: $background;
    color: $dark-gray;
    margin: 0 auto;
    font-family: 'SohoStd';

    .overlay {
        position: absolute;
        top: 0;
        width: $content-width;
    }

    .content {
        width: $content-width;
    }

    .header {
        width: 893px;
    }

    .arrow-box {
        width: 28px;
        height: 28px;
    }

    .button-box {
        width: 26px;
        height: 26px;
    }

    .button-top {
        width: 46px;
        height: 46px;
    }

    .tile {
        width: 196px;
        height: 196px;
    }

    .footer {
        .logo-autodesk {
            margin-right: 35px;
        }
    }
}

@media (max-width: 1360px) {
    .container {
        width: 944px;

        .overlay {
            width: 882px;
        }

        .content {
            width: 882px;
        }

        .header {
            width: 625px;
        }

        .arrow-box {
            width: 19.5px;
            height: 19.5px;
        }

        .button-box {
            width: 18px;
            height: 18px;
        }

        .button-top {
            width: 32px;
            height: 32px;
        }

        .tile {
            width: 137px;
            height: 137px;
        }
    }
}