$logo: url('../img/logo.png') no-repeat;
$logo-text: url('../img/logo-text.png') no-repeat;
$logo-autodesk: url('../img/logo-autodesk.png') no-repeat;
$logo-kubicon: url('../img/logo-kubicon.png') no-repeat;
$client: url('../img/client.png') no-repeat;

$background: url('../img/background.png') no-repeat;
$background-contact: url('../img/background-contact.png') no-repeat;
$background-products: url('../img/background-products.png') no-repeat;
$background-clients: url('../img/background-clients.png') no-repeat;
$background-products-details: url('../img/background-products-details.png') no-repeat;
$background-products-description: url('../img/background-products-description.png') no-repeat;

$underlay-home: url('../img/underlay-home.png') no-repeat;
$underlay-products: url('../img/underlay-products.png') no-repeat;
$underlay-products-details: url('../img/underlay-products-details.png') no-repeat;
$underlay-products-description: url('../img/underlay-products-description.png') no-repeat;
$underlay-clients: url('../img/underlay-clients.png') no-repeat;
$menu-arrow: url('../img/menu-arrow.png') no-repeat;

$projects-tile: url('../img/projects-tile.png') no-repeat;
$mecanic-tile: url('../img/mecanic-tile.png') no-repeat;
$instalation-tile: url('../img/instalation-tile.png') no-repeat;
$architecture-tile: url('../img/architecture-tile.png') no-repeat;
$structure-tile: url('../img/structure-tile.png') no-repeat;
$infrastructure-tile: url('../img/infrastructure-tile.png') no-repeat;
$simulate-tile: url('../img/simulate-tile.png') no-repeat;

$logo-width: 146px;
$logo-height: 39px;

$logo-text-width: 171px;
$logo-text-height: 49px;

$logo-autodesk-width: 136px;
$logo-autodesk-height: 140px;

$logo-kubicon-width: 128px;
$logo-kubicon-height: 133px;

$content-width: 1260px;
$content-height: 678px;

$client-width: 170px;
$client-height: 125px;

$menu-arrow-width: 18px;
$menu-arrow-height: 18px;