.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.slider-position {
    margin-top: 187px;
}

.button-top {
    margin-right: 90px;
}

@media (max-width: 1360px) {
	.slider-position {
		margin-top: 131px;
	}
}