.frame {
    background: $opac-simple-white;
    width: 485px;
    height: 215px;
    display: inline-table;

    &.intro {
        margin-top: 1px;
    }

    .interior {
        margin: 35px;
    }

    .title {
        font-size: 24px;
        font-family: 'SohoStd-Medium';
        margin-bottom: 20px;
    }

    .description {
        font-size: 13px;
        line-height: 25px;
    }
}

@media (max-width: 1360px) {
    .frame {
        width: 339.5px;
        height: 150.5px;

        .title {
            font-size: 18px;
            margin-bottom: 14px;
        }

        .interior {
            margin: 25px;
        }

        .description {
            font-size: 11px;
            line-height: 19px;
        }
    }
}