.header {
    .title {
        background: $white;
    }

    .subtitle {
        margin: 23px 31px;
        font-size: 12px;
    }

    .logo {
        margin: 23px 25px 22px 0;
    }

    .menu {
        li:not(.selected):hover {
            color: $white;
            background: $dark-gray;
        }
    }
}

.underlay {
    height: $content-height;
}

@media (max-width: 1360px) {
    .header {
        .subtitle {
            font-size: 8.5px;
        }

        .logo {
            margin: 16px 17.5px 15.5px 0;
        }
    }
}