.logo {
    width: $logo-width;
    height: $logo-height;
    background: $logo;
}

.logo-text {
    width: $logo-text-width;
    height: $logo-text-height;
    background: $logo-text;
}

.logo-autodesk {
	width: $logo-autodesk-width;
    height: $logo-autodesk-height;
	background: $logo-autodesk;
}

.logo-kubicon {
	width: $logo-kubicon-width;
    height: $logo-kubicon-height;
	background: $logo-kubicon;
}