<div class="container clients">
	<div class="content pull-right">
		<div class="underlay box-shadow"></div>

		<div class="overlay">
			<div class="header" ng-include="'./views/header.tpl.html'"></div>

			<div class="intro frame pull-left">
				<div class="interior">
					<div class="title">Clientii nostri</div>
					<div class="description">Phasellus ultrices arcu varius pellentesque tincidunt. Nulla sed dui in quam congue pellentesque. In hac habitasse platea dictumst. Vestibulum ac molestie erat. Integer commodo elit erat, in gravida velit fermentum ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pharetra.</div>
				</div>
			</div>
			<!-- End of Frame -->

			<div class="grid pull-left">

				<div class="card bl1 br3">
					<div class="frame client">
						<div class="logo"></div>
					</div>
				</div>

				<div class="card br1">
					<div class="frame client">
						<div class="logo"></div>
					</div>
				</div>

				<div class="card bt-1 br1">
					<div class="frame client">
						<div class="logo"></div>
					</div>
				</div>

				<div class="card bl4 br1">
					<div class="frame client">
						<div class="logo"></div>
					</div>
				</div>

				<div class="card bl1">
					<div class="frame client">
						<div class="logo"></div>
					</div>
				</div>
			
			</div>
			<!-- End of Grid -->
			<br class="clearfix">
		</div>
		<!-- End of Overlay -->
	</div>
	<!-- End of Content -->
	<br class="clearfix">
	<div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>
<!-- End of Container -->