<div class="container contact">
	<div class="content pull-right">
		<div class="undrlay box-shadow">
			<map center="46.7689294, 23.5605832" zoom="18" draggable="false" disable-default-u-i="true" keyboard-shortcuts="false" scrollwheel="false"></map>
		</div>

		<div class="overlay">
			<div class="header" ng-include="'./views/header.tpl.html'"></div>

			<div class="intro frame pull-left">
				<div class="interior">
					<div class="title">Contact</div>
					<div class="description">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque velit velit, porttitor a congue a, imperdiet id justo. </div>
					<br />
					<div class="description">Date de contact</div>
					<div class="description">Date de contact</div>
					<div class="description">Date de contact</div>
					<div class="description">Date de contact</div>
				</div>
			</div>
			<!-- End of Frame -->

		</div>
		<!-- End of Overlay -->

	</div>
	<!-- End of Content -->
	<br class="clearfix">
    <div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>