<div class="container contact">
	<div class="content pull-right">
		<div class="undrlay box-shadow">
			<map center="46.7689294, 23.5605832" zoom="18" draggable="false" disable-default-u-i="true" keyboard-shortcuts="false" scrollwheel="false"></map>
		</div>

		<div class="overlay">
			<div class="header" ng-include="'./views/header.tpl.html'"></div>

			<div class="intro frame pull-left">
				<div class="interior">
					<div class="title">Contact</div>
					<div class="description">Str. Macului nr. 19-21, Etajul 4, 400698, Cluj-Napoca, Romania </div>
					<br />
					<div class="description">Telefon mobil: +40 727 222 030</div>
					<div class="description">Telefon fix: +40 364 404 454</div>
					<div class="description">Fax: +40 378 107 275</div>
					<div class="description">
						<a href="mailto:office@kubicon.ro">Adresa de Email: office@kubicon.ro</a>
					</div>
				</div>
			</div>
			<!-- End of Frame -->

		</div>
		<!-- End of Overlay -->

	</div>
	<div scroll-top class="button-box button-top pull-right"></div>
	<!-- End of Content -->
    <div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>