<div class="frame">
    <div class="interior">
        <div class="pull-left">
            <div class="logo-text"></div>

            <div class="menu">
                <ul>
                    <li ng-click="selectPage(1)">
                        <a>Produse</a>
                    </li>
                    <li ng-click="selectPage(2)">
                        <a>Promotii</a>
                    </li>
                    <li ng-click="selectPage(3)">
                        <a>Despre noi</a>
                    </li>
                    <li ng-click="selectPage(4)">
                        <a>Servicii</a>
                    </li>
                    <li ng-click="selectPage(5)">
                        <a>Clienti</a>
                    </li>
                    <li ng-click="selectPage(6)">
                        <a>Contact</a>
                    </li>

                    <br class="clearfix">
                </ul>
            </div>
            <!-- End of Menu -->
            <a href="http://www.lifeishard.ro" target="_blank" class="copyright">Copyright (c) 2014 LIFE IS HARD. Kubicon is a trade mark of LIFE IS HARD SRL</a>
        </div>

        <div class="pull-right">
            <div class="logo-autodesk"></div>
        </div>

        <br class="clearfix">


    </div>
</div>
<!-- End of Frame -->

<div scroll-top class="button-box button-top pull-right"><</div>