<div class="title">
    <div class="subtitle pull-left">PARTENER AUTODESK &nbsp| &nbspA LIFE IS HARD COMPANY</div>
    <div class="logo pull-right pointer" ng-click="selectPage(0)"></div>
    <br class="clearfix">
</div>

<div class="menu">
    <ul>
        <li class="{{selectedPage == 0 ? 'selected' : ''}}" ng-click="selectPage(0)">
            <a>Despre noi</a>
        </li>
        <li class="{{selectedPage == 2 ? 'selected' : ''}}" ng-click="selectPage(2)">
            <a>Produse</a>
        </li>
        <li class="{{selectedPage == 3 ? 'selected' : ''}}" ng-click="selectPage(3)">
            <a>Servicii</a>
        </li>
        <li class="{{selectedPage == 4 ? 'selected' : ''}}" ng-click="selectPage(4)">
            <a>Clienti</a>
        </li>
        <li class="{{selectedPage == 5 ? 'selected' : ''}}" ng-click="selectPage(5)">
            <a>Contact</a>
        </li>

        <br class="clearfix">
    </ul>
</div>