<div class="container services" ng-init="init()">
	<div class="content pull-right">
		<div class="underlay box-shadow"></div>

		<div class="overlay">
			<div class="header" ng-include="'./views/header.tpl.html'"></div>

			<div class="frame">
				<div class="interior">
					<div class="title">Istorie</div>
					<div class="description">
						Lorem ipsum dolor sit amet, primis omnesque eu vis, quo simul scripta ut. An aperiam docendi consulatu vix. Ea vulputate persequeris suscipiantur eum, nec an illud etiam error. Ipsum ceteros vim ex, ea duo natum denique, an option iuvaret eos. Imperdiet constituto usu eu. Facete dolores definitionem mel id, commodo eruditi ex quo.

						Te justo soluta aliquando eos. Verterem hendrerit nec cu. Vel ne impedit facilisi oportere, mel unum volutpat concludaturque cu. Eros albucius deserunt pro id.

						Dicam consectetuer pro ad, ex libris minimum his. Soluta dicunt rationibus cu eos, malorum instructior eos in. Deserunt nominati ei mea, eos vide illum te. Altera essent disputando ex nam, mucius scribentur cum ea. Rebum vidisse adversarium has eu, ea nam diam simul. Ex dicunt delenit molestiae mel, an illud quaestio ocurreret per.
					</div>
				</div>
			</div>
			<!-- End of Frame -->

		</div>
		<!-- End of Overlay -->

	</div>
	<!-- End of Content -->
	<div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>