<div class="container home">
    <div class="content pull-right">
        <div class="underlay box-shadow"></div>

        <div class="overlay">
            <div class="header" ng-include="'./views/header.tpl.html'"></div>

            <div slider class="slider pull-right slider-position">
                <div class="control">
                    <div ng-click="slideNext()" class="arrow-box pull-right arrow-right">></div>
                    <div ng-click="slidePrev()" class="arrow-box pull-right arrow-left"><</div>
                    <br class="clearfix">
                </div>
                <ul id="slider" class="frame">
                    <li ng-repeat="slide in slides" class="interior" ng-style="{{getSlideCss(slide)}}">
                        <div class="title" ng-bind="slide.title"></div>
                        <div class="description" ng-bind="slide.text"></div>
                    </li>
                </ul>
            </div>
            <!-- End of Slider -->

            <div class="grid pull-left">

                <div class="card bl3 br4" ng-click="link('http://google.com')">
                    <div class="tile projects-tile"></div>
                    <div class="tile flip-box" ng-click="selectProductList(1)">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Istoric</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title projects" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card br3" ng-click="link('http://yahoo.com')">
                    <div class="tile mecanic-tile"></div>
                    <div class="tile flip-box">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Misiune si valori</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title">Detali</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" ng-click="link('http://twitter.com')">
                    <div class="tile instalation-tile"></div>
                    <div class="tile flip-box">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Parteneri</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title instalation">
                                    - Autodesk - IBM - Microsoft - lenovo - xerox - GRENKE
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div> 
            <!-- End of Grid -->
            <br class="clearfix">
            
        </div>
        <!-- End of Overlay -->
    </div>
    <!-- End of Content -->
    <br class="clearfix">
    <div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>