<div class="container products">
    <div class="content pull-right">
        <div class="underlay box-shadow"></div>

        <div class="overlay">
            <div class="header" ng-include="'./views/header.tpl.html'"></div>

            <div class="intro frame pull-left">
                <div class="interior">
                    <div class="title">Categorii de Produse</div>
                    <div class="description">Phasellus ultrices arcu varius pellentesque tincidunt. Nulla sed dui in quam congue pellentesque. In hac habitasse platea dictumst. Vestibulum ac molestie erat. Integer commodo elit erat, in gravida velit fermentum ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pharetra.</div>
                </div>
            </div>
            <!-- End of Frame -->

             <div class="grid pull-left">

                <div class="card bl5">
                    <div class="tile projects-tile"></div>
                    <div class="tile flip-box" ng-click="selectProductList(1)">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Proiecte generale</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title">Detali</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bl3">
                    <div class="tile mecanic-tile"></div>
                    <div class="tile flip-box" ng-click="selectProductList(2)">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Mecanica</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title">Detali</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="tile instalation-tile"></div>
                    <div class="tile flip-box" ng-click="selectProductList(3)">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Instalatii</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title">Detali</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bl1">
                    <div class="tile structure-tile"></div>
                    <div class="tile flip-box" ng-click="selectProductList(4)">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Structuri</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title">Detali</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="tile architecture-tile"></div>
                    <div class="tile flip-box" ng-click="selectProductList(5)">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Arhitectura</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title">Detali</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bl3">
                    <div class="tile simulate-tile"></div>
                    <div class="tile flip-box" ng-click="selectProductList(6)">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Simulare</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title">Detali</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="tile infrastructure-tile"></div>
                    <div class="tile flip-box" ng-click="selectProductList(7)">
                        <div class="flip-card">
                            <div class="front">
                                <div class="title">Infrastructuri</div>
                                <div class="button-box">+</div>
                            </div>
                            <div class="back">
                                <div class="title">Detali</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Grid -->
            <br class="clearfix">
        </div>
        <!-- End of Overlay -->
    </div>
    <!-- End of Content -->
    <br class="clearfix" />
    <div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>