<div absolut-container class="container products-details" ng-init="initLocation()">
    <div absolut-content class="content pull-right">
        <div class="underlay box-shadow"></div>

        <div class="overlay">
            <div class="header" ng-include="'./views/header.tpl.html'"></div>

            <div class="frame btn pull-left pointer" ng-click="selectPage(1)">
                <div class="interior">
                    <div class="subtitle">< Lista categorii</div>
                </div>
            </div>
            <!-- End of Button -->

            <div class="intro frame pull-left">
                <div class="interior">
                    <div class="interior">
                        <div class="logo-kubicon"></div>
                    </div>
                    <div class="title">Solutii pentru {{category.title}}</div>
                </div>
            </div>
            <!-- End of Frame -->

            <div class="grid pull-left">
                <div ng-repeat="product in category.products" ng-class="getCardCss($index)" class="card product">
                    <div class="frame product-description">
                        <div class="interior">
                            <div class="title" ng-bind="product.title" ng-click="selectProduct(product)"></div>
                            <div class="description" ng-bind="product.description"></div>
                            <div class="button-box" ng-click="selectProduct(product)" >+</div>
                        </div>
                    </div>
                    <div class="frame product-image" ng-class="getImageCss($index)">
                        <img ng-src="{{product.img}}" class="pointer" ng-click="selectProduct(product)">
                    </div>
                </div>

            </div>
            <!-- End of Grid -->
            <br class="clearfix">

        </div>
        <!-- End of Overlay -->
    </div>
    <div scroll-top class="button-box button-top pull-right"><</div>
    <!-- End of Content -->
    <div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>