<div class="container products-details">
    <div class="content pull-right">
        <div class="underlay box-shadow"></div>

        <div class="overlay">
            <div class="header" ng-include="'./views/header.tpl.html'"></div>

            <div class="frame btn pull-left pointer">
                <div class="interior">
                    <div class="subtitle">< Inapoi la produse</div>
                </div>
            </div>
            <!-- End of Button -->

            <div class="intro frame pull-left">
                <div class="interior">
                    <div class="interior">
                        <div class="logo-kubicon"></div>
                    </div>
                    <div class="title">Solutii pentru proiectare generala Kubicon</div>
                </div>
            </div>
            <!-- End of Frame -->

            <div class="grid pull-left">
                <div ng-repeat="product in products" ng-class="getCardCss($index)" class="card product">
                    <div class="frame product-description">
                        <div class="interior">
                            <div class="title" ng-bind="product.title"></div>
                            <div class="description" ng-bind="product.description"></div>
                            <div class="button-box">+</div>
                        </div>
                    </div>
                    <div class="frame product-image" ng-class="getImageCss($index)">
                        <img ng-src="{{product.img}}">
                    </div>
                </div>

<!--
                <div class="card bl1 product">
                    <div class="frame product-description">
                        <div class="interior">
                            <div class="title">Autodesk AUTOCAD LT</div>
                            <div class="description">
                                Solutia software 2D, AutoCAD LT®, destinata redactarii si intocmirii detaliilor de executie, reprezinta o alegere profesionala ce vizeaza asigurarea productivitatii, fiabilitatii si compatibilitatii. Formatul nativ de fisier DWG ofera stabilitate si este perfect compatibil cu toate solutiile de proiectare Autodesk.
                            </div>
                            <div class="button-box">+</div>
                        </div>
                    </div>
                    <div class="frame product-image bt1">
                        <img src="./assets/images/product1.png">
                    </div>
                </div>

                <div class="card bl0 product">
                    <div class="frame product-description">
                        <div class="interior">
                            <div class="title">AUTOCAD 2013</div>
                            <div class="description">
                                Proiectati si modelati universul inconjurator cu ajutorul functiilor performante si caracteristicilor flexibile ale aplicatiei software AutoCAD®, unul dintre cele mai utilizate programe de proiectare 2D si 3D la nivel mondial. Realizati documentatia de proiect rapid, partajati documente si explorati ideile intuitiv in mediul de lucru 3D al AutoCAD. Instrumentele performante de programare si multitudinea de “add-ons” disponibile va ofera posibilitatea personalizarii aplicatiei in functie de nevoile dvs. specifice de lucru. 
                            </div>
                            <div class="button-box">+</div>
                        </div>
                    </div>
                    <div class="frame product-image">
                        <img src="./assets/images/product1.png">
                    </div>
                </div>

                <div class="card bt-1 bl2 product">
                    <div class="frame product-image bt2">
                        <img src="./assets/images/product1.png">
                    </div>
                    <div class="frame product-description">
                        <div class="interior">
                            <div class="title">3DS Max</div>
                            <div class="description">
                                Autodesk® 3ds Max® Design ofera noi unelte puternice de randare, accelereaza fluxurile de lucru repetate si sporeste interoperabilitatea, crescand semnificativ productivitatea generala si calitatea lucrarilor rezultate. Mai mult decat atat, usurinta lucrului cu date CAD se datoreaza interoperabilitatii cu solutia software Autodesk® Alias® si fluxului de lucru automat catre AutoCAD® Civil 3D®.
                            </div>
                            <div class="button-box">+</div>
                        </div>
                    </div>
                </div>
            -->
            </div>
            <!-- End of Grid -->
            <br class="clearfix">

        </div>
        <!-- End of Overlay -->
    </div>
    <!-- End of Content -->
    <br class="clearfix" />
    <div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>