<div class="container product-description">
	<div class="content pull-right">
		<div class="underlay box-shadow"></div>

		<div class="overlay">
			<div class="header" ng-include="'./views/header.tpl.html'"></div>
			
			<div class="frame btn pull-left pointer">
                <div class="interior">
                    <div class="subtitle">< Inapoi la proiecte generale</div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="product">
            	<div class="pull-left spacer">
		            <div class="frame">
						<div class="interior">
							<div class="title">Autodesk AUTOCAD LT</div>
							<div class="description">Conceput pentru profesioniştii pentru care contează compatibilitatea deplină cu formatul DWG™, dar nu folosesc modelarea 3D sau opţiunile de personalizare a programului. Aplicaţia AutoCAD LT este binecunoscută pentru eficienţa, puterea şi siguranţa sa.  La cererea utilizatorilor s-au adăugat în AutoCAD LT mai multe instrumente 2D, cum este cazul funcţiei “ALIGN”, facilităţii “xref” şi al comenzilor de creare şi editare a atributelor blocurilor. <br>Această soluţie software, destinată redactării proiectelor şi detaliilor de execuţie, reprezintă o alegere serioasă şi profesională ce pune acum la dispoziţia utilizatorilor mai multe metode de creştere a productivităţii.</div>
						</div>
					</div>
					<!-- End of Frame -->

					<ul class="menu vertical">
						<li class="title">CERE OFERTA</li>
						<li>
							<span class="arrow"></span>
							<span>Autodesk subscription</span>
						</li>
						<li>
							<span class="arrow"></span>
							<span>Descarca brosura</span>
						</li>
						<li>
							<span class="arrow"></span>
							<span>Vezi cerintele de sistem</span>
						</li>
						<li>
							<span class="arrow"></span>
							<span>Trial</span>
						</li>
					</ul>

					<div class="clearfix"></div>
            	</div>
            	<div class="pull-left">
            		<div class="images frame">
		                <div class="interior">
		                    <div class="interior">
		                        <div class="logo-kubicon"></div>
		                    </div>
		                    <div class="title">Solutii pentru proiectare generala Kubicon</div>
		                </div>
		            </div>
		            <!-- End of Frame -->

		            <div class="images frame">
		                <img src="./assets/images/product-details1.png">
		            </div>
		            <!-- End of Frame -->
            	</div>
            </div>
            <!-- End of Product -->
		</div>
		<!-- End of Overlay -->
	</div>
	<!-- End of Content -->
	<br class="clearfix" />
    <div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>