<div absolut-container class="container product-description" ng-init="initProduct()">
	<div absolut-content class="content pull-right">
		<div class="underlay box-shadow"></div>

		<div class="overlay">
			<div class="header" ng-include="'./views/header.tpl.html'"></div>
			
			<div class="frame btn pull-left pointer" ng-click="selectProductList(productListId)">
                <div class="interior">
                    <div class="subtitle" ng-cloak>< Inapoi la {{category.title.toLowerCase()}}</div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="product">
            	<div class="pull-left spacer">
		            <div class="frame">
						<div class="interior">
							<div class="title" ng-bind="product.title"></div>
							<div class="description" ng-bind="product.description"></div>
						</div>
					</div>
					<!-- End of Frame -->

					<ul class="menu vertical">
						<li class="title"><a href="">INFORMATII</a></li>
						<li>
							<span class="arrow"></span>
							<span>Autodesk subscription</span>
						</li>
						<li>
							<span class="arrow"></span>
							<span>Descarca brosura</span>
						</li>
						<li>
							<span class="arrow"></span>
							<span>Vezi cerintele de sistem</span>
						</li>
						<li>
							<span class="arrow"></span>
							<span>Trial</span>
						</li>
					</ul>

					<div class="clearfix"></div>
            	</div>
            	<div class="pull-left">
            		<div class="images frame">
		                <div class="interior">
		                    <div class="interior">
		                        <div class="logo-kubicon"></div>
		                    </div>
		                    <div class="title">Solutii pentru proiectare generala Kubicon</div>
		                </div>
		            </div>
		            <!-- End of Frame -->

		            <div class="images frame">
		                <img src="./assets/images/product-details1.png">
		            </div>
		            <!-- End of Frame -->
            	</div>
            </div>
            <!-- End of Product -->
		</div>
		<!-- End of Overlay -->
		<div scroll-top class="button-box button-top pull-right"><</div>
	</div>
	<!-- End of Content -->
    <div class="footer" ng-include="'./views/footer.tpl.html'"></div>
</div>