<style type="text/css">
    ol, h3 {
        width: 300px;
        margin: 20px auto;
    }
    .done {
        text-decoration: line-through;
    }
</style>

<h3>Components</h3>
<ol>
    <li class="done">Header</li>
    <li class="done">Logos</li>
    <li class="done">Menu</li>
    <li class="done">Fonts</li>
    <li class="done">Overlay</li>
    <li class="done">Boxes</li>
    <li class="done">Slider Directive</li>
    <li class="done">Grid</li>
    <li class="done">Flip Effect</li>
    <li class="done">Footer</li>
    <li class="done">Go to Top Directive</li>
    <li class="done">Sync Menus</li>
    <li class="done">Generator for products</li>
    <li class="done">Generator for clients</li>
    <li class="done">Product Menu</li>
    <li>Google Maps</li>
</ol>