.contact {
	&.container {
		height: 862px;
		background: $background-contact;
	}

	.intro {
		width: 405px;
		margin-left: 684px;
	}
}

@media (max-width: 1360px) {
	.contact {
		.intro {
			width: 283.5px;
			margin-left: 479px;
		}
	}
}