.home {
    &.container {
        height: 1158px;
    }

    .content {
        height: 974px;
    }

    .underlay {
        background: $underlay-home;
    }

    .slider-content {
        position: relative;
        overflow: hidden;

        .frame {
            position: absolute;
        }
    }
}