.products {
    &.container {
        height: 1420px;
        background: $background-products;
    }

    .content {
        height: 1236px;
    }

    .underlay {
        background: $underlay-products;
    }

    .intro {
        margin-left: 113px;
        width: 377px;
    }
}

@media (max-width: 1360px) {
    .products {
        &.container {
            height: 1102px;
        }

        .content {
            height: 934px;
        }

        .intro {
            width: 264px;
            margin-left: 80px;
        }
    }
}