<div class="container">
    <div class="content pull-right">
        <div class="underlay underlay-home box-shadow"></div>

        <div class="overlay">
            <div class="header">
                <div class="title">
                    <div class="subtitle pull-left">PARTENER AUTODESK &nbsp| &nbspA LIFE IS HARD COMPANY</div>
                    <div class="logo pull-right"></div>
                    <br class="clearfix">
                </div>

                <div class="menu">
                    <ul>
                        <li>
                            <a>Produse</a>
                        </li>
                        <li>
                            <a>Promotii</a>
                        </li>
                        <li>
                            <a>Despre noi</a>
                        </li>
                        <li>
                            <a>Servicii</a>
                        </li>
                        <li>
                            <a>Clienti</a>
                        </li>
                        <li>
                            <a>Contact</a>
                        </li>

                        <br class="clearfix">
                    </ul>
                </div>

            </div>

            <div class="slider pull-right slider-position">
                <div class="control">
                    <div class="arrow-box pull-right arrow-right">></div>
                <div class="arrow-box pull-right arrow-left"><</div>
                    <br class="clearfix">
                </div>
                <div class="slider-content">
                    <div class="frame">
                        <div class="title">Autodesk Maya</div>
                        <div class="description">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque velit velit, porttitor a congue a, imperdiet id justo. Maecenas vel scelerisque lorem. Fusce lorem erat, bibendum in pretium quis, aliquam nec nibh</div>
                    </div>
                </div>
            </div>

            <br class="clearfix">
            <div class="grid pull-left">

                <div class="card bl3 br4">
                    <div class="tile projects-tile"></div>
                    <div class="tile">
                        <div class="title">Proiecte generale</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card br3">
                    <div class="tile mecanic-tile"></div>
                    <div class="tile">
                        <div class="title">Mecanica</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card">
                    <div class="tile instalation-tile"></div>
                    <div class="tile">
                        <div class="title">Instalatii</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card bl5">
                    <div class="tile architecture-tile"></div>
                    <div class="tile">
                        <div class="title">Arhitectura</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card bl1">
                    <div class="tile structure-tile"></div>
                    <div class="tile">
                        <div class="title">Structuri</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card bl2">
                    <div class="tile infrastructure-tile"></div>
                    <div class="tile">
                        <div class="title">Infrastructuri</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card bl4">
                    <div class="tile simulate-tile"></div>
                    <div class="tile">
                        <div class="title">Simulare</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>
                
            </div>

            <br class="clearfix">
        </div>

    </div>
    <br class="clearfix">

</div>