<div class="container">
    <div class="content pull-right">
        <div class="underlay underlay-products box-shadow"></div>

        <div class="overlay">
            <div class="header">
                <div class="title">
                    <div class="subtitle pull-left">Partener Autodesk  &nbsp| &nbsp Client Login</div>
                    <div class="logo pull-right"></div>
                    <br class="clearfix">
                </div>

                <div class="menu">
                    <ul>
                        <li>
                            <a>Produse</a>
                        </li>
                        <li>
                            <a>Promotii</a>
                        </li>
                        <li>
                            <a>Despre noi</a>
                        </li>
                        <li>
                            <a>Servicii</a>
                        </li>
                        <li>
                            <a>Clienti</a>
                        </li>
                        <li>
                            <a>Contact</a>
                        </li>

                        <br class="clearfix">
                    </ul>
                </div>

            </div>

             <div class="grid pull-left">

                <div class="card bl5">
                    <div class="tile projects-tile"></div>
                    <div class="tile">
                        <div class="title">Proiecte generale</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card bl3">
                    <div class="tile mecanic-tile"></div>
                    <div class="tile">
                        <div class="title">Mecanica</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card">
                    <div class="tile instalation-tile"></div>
                    <div class="tile">
                        <div class="title">Instalatii</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card bl1">
                    <div class="tile structure-tile"></div>
                    <div class="tile">
                        <div class="title">Structuri</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card">
                    <div class="tile architecture-tile"></div>
                    <div class="tile">
                        <div class="title">Arhitectura</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card bl3">
                    <div class="tile simulate-tile"></div>
                    <div class="tile">
                        <div class="title">Simulare</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

                <div class="card">
                    <div class="tile infrastructure-tile"></div>
                    <div class="tile">
                        <div class="title">Infrastructuri</div>
                        <div class="plus-box">+</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>